@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1D1D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolonner */
  gap: 24px;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr; /* 1 kolonne på mobil */
  }
}

.tech-ticker {
  position: relative;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 3%, black 95%, transparent);
}

.tech-track {
  white-space: nowrap;
  display: inline-block;
  will-change: transform;
  pointer-events: none; /* hover goes to ticker container */
}

.tech-ticker:hover .tech-track {
  pointer-events: auto;
}

.title {
}

.card {
  position: relative;
}

.card-inner {
  position: relative;
  will-change: transform;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  gap: 4em;
}

.card-content {
  flex: 3;
}

.card-description{
  max-width: 550px;
}

.card-img {
  flex: 1;
  aspect-ratio: 16/9;
  border-radius: 0.75em;
  overflow: hidden;
    width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card-img, .card-content p {
    display: none;
  }

  .card {
    height: 300px;
  }
}

#card-1 .card-inner {
  background-color: #C2AAFF;
}

#card-2 .card-inner {
  background-color: #FED25A;
}

#card-3 .card-inner {
  background-color: #FEFEFE;
}

#card-4 .card-inner {
  background-color: #1F1E1F;
  color: white;
}

#highlight {
  transition: opacity 0.25s ease-out;
}
